.aside{
    padding: 70px 0 70px 0;
    width: 1200px;
}

.aside__body{
    width: 100%;
    position: relative;
    height: 540px;
}

.aside__page{
    background: #FAFAFA;

}
.aside__image{
    max-width: 100%;
    /*min-width: 80%;*/
}
.aside__m{
    width: 540px;
    height: 350px;
    background: #FFFFFF;
    position: absolute;
    top: 62px;
    left: 52%;
    padding: 0 0 0 0;
}
.aside__description{
    margin:45px 95px 14px 40px;
}
.aside__subtitle{
    font-size: 28px;
    font-family: sans-serif;
    margin: 0 0 12px 0;

}
.aside__text{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    color: #B6B6B6;
    margin: 0 0 15px 0;
}
.aside__btn{
    padding: 10px 40px;
    font-size: 14px;
    color: #0F2A59;
    background: none;
    border: 1px solid #0F2A59;
}

@media (max-width: 1280px) {
    .aside{
        width: 100%;
    }
}
@media  (max-width: 1250px) {
    .aside__m{
        left: 40%;
    }
}

@media  (max-width: 1044px) {
    .aside__body{
        margin: 0 0 15px 0;
    }
    .aside__m{
        margin-left: auto;
        margin-right: auto;
        top: 270px;
        left: 0;
        right: 0;
        text-align: center;
    }
    .aside__description{
        margin: 45px 45px 14px 40px;

    }
    .aside__image{
        width: 100%;
    }
}


@media (max-width: 650px) {
    .aside{
        padding: 20px 0 70px 0;
    }
    .aside__body{
        margin: 0;

    }
    .aside__m{
        width: 100%;
        position: relative;
        top: 0;
        height: 20%;
    }
    .aside__description{
        margin:15px 15px 0 15px;
    }
}